<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${formType}"></h1>
<h3 th:if="${formType == 'Update Event Info'}" th:text="${event.name} + ' (id=' + ${eventId} + ')'"></h3>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="${target}">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Category
        <select th:field="${event.eventCategory}">
            <option th:each="eventCategory : ${categories}"
                    th:value="${eventCategory.id}"
                    th:text="${eventCategory.name}">
            </option>
        </select>
        </label>
        <p class="error" th:errors="${event.eventCategory}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.eventDetails.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input th:field="${event.eventDetails.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.location}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" th:field="${event.eventDetails.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Number of Attendees
            <input type="number" required="required" th:field="${event.eventDetails.attendees}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.attendees}"></p>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" th:field="${event.eventDetails.registrationRequired}">
        <label class="form-check-label">Registration Required</label>
        <p class="error" th:errors="${event.eventDetails.registrationRequired}"></p>
    </div>
    <input th:if="${formType == 'Update Event Info'}" type="hidden" th:value="${eventId}" name="eventId">
    <div class="form-group">
        <input type="submit" th:value="${formType}" class="btn btn-success">
    </div>
</form>
</body>
</html>