<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1>All Events</h1>

<table style="width:100%">
    <tr>
        <th class="event">Event</th>
        <th class="description">Description</th>
        <th class="location">Location</th>
    </tr>
    <th:block th:each="event : ${events}">
        <tr>
            <td class="event" th:text="${event.getKey()}"></td>
            <td class="description" th:text="${event.getValue()}"></td>
            <td th:replace="fragments :: tech-hub"></td>
        </tr>
    </th:block>
</table>
<!--<ul>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event}"></li>-->
<!--    </th:block>-->
<!--</ul>-->

</body>
</html>